.container {
  position: relative;
  width: 300px;
  height: 300px;
  background-image: url("./Imgs/sample1.jpg");
  background-size: cover; 
  margin: 300px auto;
  overflow: hidden;
}

.overlayTop {
  position: absolute;
  top: -150px;
  border-top: 150px solid rgba(0, 0, 0, 0.4);
  border-bottom: 150px solid transparent;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  pointer-events:none;
  transition: transform 0.5s;
}

.overlayBottom {
  position: absolute;
  bottom: -150px;
  border-top: 150px solid transparent;
  border-bottom: 150px solid rgba(0, 0, 0, 0.4);
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  pointer-events:none;
  transition: transform 0.5s;
}

.overlayLeft {
  position: absolute;
  left: -150px;
  border-top: 150px solid transparent;
  border-bottom: 150px solid transparent;
  border-left: 150px solid rgba(0, 0, 0, 0.4);
  border-right: 150px solid transparent;
  pointer-events:none;
  transition: transform 0.5s;
}

.overlayRight {
  position: absolute;
  right: -150px;
  border-top: 150px solid transparent;;
  border-bottom: 150px solid transparent;
  border-left: 150px solid transparent;
  border-right: 150px solid rgba(0, 0, 0, 0.4);
  pointer-events:none;
  transition: transform 0.5s;
}

.container:hover > .overlayTop {
  transform: translateY(150px);
}

.container:hover > .overlayBottom {
  transform: translateY(-150px);
}

.container:hover > .overlayLeft {
  transform: translateX(150px);
}

.container:hover > .overlayRight {
  transform: translateX(-150px);
}

.overlayContent {
  position: relative;
  text-align: center;
  color: white;
  opacity: 0;
  transition: opacity 2s;
  height: 100%;
  width: 100%;
}

.detail {
  margin: 0 auto;
  max-height: 50%;
  width: 90%;
  overflow: hidden;
}

.footer {
  height: 20%;
  margin-top: 5%;
}

.container:hover > .overlayContent {
  opacity: 1;
}

.content {

}
